button.btn-outline-success {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #05a81e;
  background-color: #00c217;
  color: #ffffff;
  padding: 5px 10px;
  height:64px;
  width:42px;
}

button.btn-outline-success {
  border: 1px solid #05a81e;
  background-color: #00cc1b;
  color: #ffffff;
  padding: 5px 10px;
}

button.btn-outline-success[disabled]{
  border: 1px solid #999999;
  background-color: #807e7e;
  color: #000000;
}

button.btn-outline-success-selected {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #05a81e;
  background-color: #c2a802;
  color: #ffffff;
  padding: 5px 10px;
  height:64px;
  width:42px;
}

