div.screen-box {
  height: 30px;
  width: 100%;
  background-color: green;
}

div.seats-grid {
  display: flex;
  justify-content: space-between;
}

h4.screen-text {
  color: white;
  text-align:
  center;
}

button.btn-outline-success {
  background-color: rgba(255, 255, 255, .1);
  color:#000000;
  border: none;
  width: 100%;
  height: 40px;
}

button.btn-outline-success:hover {
  background-color: rgba(255, 255, 255, .4);
  color: #4CAF50;
}

.makeReservationButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#333133;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.makeReservationButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.makeReservationButton:active {
	position:relative;
	top:1px;
}

.makeReservationButton[disabled]{
  opacity: .4;
}
