/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";

header {
  background-color: $background-color-1;
  text-align: center;
  font-weight: bold;
  font-size: 2.0em;
  color: darkgreen;
  padding: 1.0em;
}

body {
  max-width: 70%;
  margin:auto;
}

nav {
  background-color: $background-color-2;
  color: white;
  padding: 0.3em $side-margin;
  a {
    color: white;
    font-weight: bold;
  }
}

section.page {
  padding: 0.5em $side-margin;
}

div.bs-data-panel {
  border-radius: 0.7em;
  padding: 0.5em;
  background-color: $background-color-content-1;
  box-shadow: $shadow-size $shadow-size $shadow-color;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.bs-darkgreen-panel {
  border-radius: 0.7em;
  padding: 0.5em;
  background-color: $background-color-content-2;
  box-shadow: $shadow-size $shadow-size $shadow-color;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.movieDetails {
  padding: 10px;
}

div.movieTitle {
  font-weight: bold;
  font-size: 2.5em;
  align:centre;
  padding: 15px;
  text-align: center;
}

div.movieDescription {
  padding: 10px;
}

span.movieDetails {
  font-weight: bold;
  font-size: 1.5em;
}


span.movieDescription {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

img.movieImage {
  max-width: 20%;
  max-height: 20%;
  float: right;
}


