/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";
@import '~bootstrap/scss/bootstrap';

header {
  background-color: $background-color-1;
  text-align: center;
  font-weight: bold;
  font-size: 2.0em;
  color: darkgreen;
  padding: 1.0em;
}

body {
  max-width: 85%;
  margin:auto;
}

nav {
  background-color: #4CAF50;
  color: white;
  padding: 0.3em $side-margin;
  a {
    color: white;
    font-weight: bold;
  }
}

section.page {
  padding: 0.5em $side-margin;
}

div.bs-data-panel {
  border-radius: 0.7em;
  padding: 0.5em;
  background-color: $background-color-content-1;
  box-shadow: $shadow-size $shadow-size $shadow-color;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.bs-darkgreen-panel {
  border-radius: 0.7em;
  padding: 0.5em;
  background-color: $background-color-content-2;
  box-shadow: $shadow-size $shadow-size $shadow-color;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.movieDetails {
  padding: 10px;
}

div.movieTitle {
  font-weight: bold;
  font-size: 2.5em;
  align:centre;
  padding: 15px;
  text-align: center;
}

div.movieDescription {
  padding: 10px;
}

span.movieDetails {
  font-weight: bold;
  font-size: 1.5em;
}

div.movieDescription {
  text-overflow: ellipsis;

  overflow: hidden;
  width: 100%;
}

span.movieDescription {
  overflow: hidden;
  display: -webkit-box;
  width: 95%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0.5em 0.5em 0em 0.5em;
}

img.movieImage {
  max-width: 15%;
  max-height: 15%;
  float: right;
}

.screeningDatesButton {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #7eb871 5%, #429e00 100%);
	background-color:#7eb871;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 36px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528009;
}
.screeningDatesButton:hover {
	background:linear-gradient(to bottom, #429e00 5%, #7eb871 100%);
	background-color:#429e00;
}
.screeningDatesButton:active {
	position:relative;
	top:1px;
}



table.greenTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.greenTable td, table.greenTable th {
  border: 1px solid #ddd;
  padding: 8px;
}
table.greenTable th.greenTableMainHeader {
  text-align: center;
  font-size:20px;
}

table.greenTable tr:nth-child(even){background-color: #f2f2f2;}

table.greenTable tr:hover {background-color: #ddd;}

table.greenTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}