<div class="bs-data-panel">
    <div class="movieDesc" style="display: flex;">
        <div style="flex: 70%;">
            <div class="movieTitle">
                <span class="movieTitle">{{ movie.title }}</span>
            </div>
            <div class="movieDescription">
                <span class="movieDescription">{{ movie.description }}</span>
            </div>
            <div class="movieDetails">
                <span class="movieDetails">Duration: {{ movie.duration }} minutes</span>
            </div>
            <button class ="screeningDatesButton">See screening dates</button>
        </div>
        <img class="movieImage" src="{{ movie.image }}" onerror="this.src='../../assets/placeholderPoster.jpg';" style="flex:30%;">
    </div>
</div>



